body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: #56CCF2;
  text-decoration: none;
  font-weight: 600;
}

.Hero {
  background: url(/images/landing-wallpaper.jpg);
  height: 900px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  padding-top: 240px;
  text-align: center;
}

.Cut {
  background: url(/images/Atlas.jpg);
  height: 1000px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.CutGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  padding-top: 240px;
  text-align: center;
}

.Cut h1 {
  margin: 0;
  color: white;
  font-size: 74px;
  line-height: 0.9;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Cut h2 {
  margin: 0;
  color: white;
  font-size: 63px;
  line-height: 0.8;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Cut p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-weight: 500;
  line-height: 4.0;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Cut a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0,0,0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Cut a:hover {
  background: white;
  color: black;
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 74px;
  line-height: 0.9;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero h2 {
  margin: 0;
  color: white;
  font-size: 63px;
  line-height: 0.8;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-weight: 500;
  line-height: 4.0;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0,0,0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a:hover {
  background: white;
  color: black;
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 55px;
  }

  .Hero h2 {
    font-size: 40px; 
  }

  .Hero p {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .CutGroup {
    padding: 100px 20px;
  }

  .Cut h1 {
    font-size: 55px;
  }

  .Cut h2 {
    font-size: 40px; 
  }

  .Cut p {
    font-size: 20px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Cut svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
 
.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero .Logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Cards h2 {
  margin: 10px;
  font-size: 50px;
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 200px;
  font-weight: 900;
  background: linear-gradient(104deg, #050A27 0%, #4A548C 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Cards p {
  display: flex;
  margin: 5px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  justify-content: center;

}

.CardGroup {
  margin: 110px 40px 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;

}

.Cards2 h2 {
  margin: 10px;
  font-size: 50px;
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 200px;
  font-weight: 900;
  background: linear-gradient(104deg, #050A27 0%, #4A548C 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Cards2 p {
  display: flex;
  margin: 5px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  justify-content: center;

}

.CardGroup2 {
  margin: 110px 40px 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;

}

@media (max-width: 1060px) {
  .CardGroup2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup2 {
    grid-template-columns: repeat(1, 1fr);
  }
}